.arrow-right {
    transition: transform 0.2s ease-in-out;
  }

.group:hover .arrow-right {
    fill: #000;
    transform: translateX(5px);
}

.card:hover img {
  transform: translateY(5px);
}

.about-link {
  color: #2997ff;
}

.card-pseudo {
  font-family: 'Black Ops One';
}

/*.hero {
  background-image: url('./images/hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

.designed {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #FFF, rgb(226 232 240), transparent) 1;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.footer-item {
  position: relative;
  transition: all 0.35s ease-in-out;
}

.footer-item::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #9ca3af;
  border-radius: 5px;
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, transition-delay 0.3s;
}

.footer-item:hover::before {
  width: 100%;
}

.image {
  height: 400px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transform: translate(0%, -50%);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transform: translate(0%, -50%);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media only screen and (max-width: 1280px)  {
  .hero-content {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px)  {
  .hero-content, .breadcrumbs, .about-container, .faq, .slider {
    width: 80%;
  }
}

@media only screen and (max-width: 820px)  {
  .hero-content, .breadcrumbs, .about-container, .faq, .slider {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .hero-title, .hero-content, .about-content, .card, .contact-content, .contact-desc, .footer-card, .breadcrumbs, .about-container, .faq, .form-container, .input, .contact-button, .slider {
    width: 100%;
  }

  .image {
    object-fit: contain;
    box-shadow: none;
  }

  .float-element {
    display: none;
  }

  .input-wrapper {
    flex-wrap: wrap;
  }

  .footer-card:last-child .contact-element-container, .contact-title {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-card:first-child {
    gap: 1em;
  }

  .footer-card:first-child .copy-right, .created-by, .socials {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 374px) {
  .card-container {
    width: 100%;
  }
}