.arrow-right {
    transition: transform 0.2s ease-in-out;
  }

.group:hover .arrow-right {
    fill: #000;
    transform: translateX(5px);
}

.card:hover img {
  transform: translateY(5px);
}

.about-link {
  color: #2997ff;
}

.card-pseudo {
  font-family: 'Black Ops One';
}

.designed {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #FFF, rgb(226 232 240), transparent) 1;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.footer-item {
  position: relative;
  transition: all 0.35s ease-in-out;
}

.footer-item::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #9ca3af;
  border-radius: 5px;
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, transition-delay 0.3s;
}

.footer-item:hover::before {
  width: 100%;
}

@media only screen and (max-width: 1280px)  {
  .hero-content {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px)  {
  .hero-content {
    width: 80%;
  }
}

@media only screen and (max-width: 820px)  {
  .hero-content {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .hero-title, .hero-content, .about-content, .card, .contact-content, .contact-desc, .footer-card {
    width: 100%;
  }

  .float-element {
    display: none;
  }

  .footer-card:last-child .contact-element-container {
    justify-content: center;
    align-items: center;
  }

  .footer-card:first-child {
    gap: 1em;
  }

  .footer-card:first-child .copy-right, .created-by, .socials {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 374px) {
  .card-container {
    width: 100%;
  }
}